* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__btn {
  width: 219px;
  color: rgb(239, 64, 15);
  border-radius: 20px;
  background: rgba(217, 217, 217, 0);
  height: 63px;
  border: 3px solid rgb(239, 64, 15);
  cursor: pointer;
}

nav a {
  color: rgb(188, 170, 170);
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

nav {
  display: flex;
  gap: 64px;
}

.a {
  color: rgb(239, 64, 15);
}

nav a:hover {
  color: rgb(239, 64, 15);
}

p {
  font-size: 40px;
  font-weight: 600;
  color: rgb(13, 12, 92);
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__p {
  color: rgb(239, 64, 15);
  font-size: 32px;
  font-weight: 600;
}

.container .content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

#hero2 .container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 40px 0;
}

.card {
  width: 290px;
  height: 290px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.name {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.price {
  color: rgba(0, 0, 0, 0.67);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  font-family: Inter;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coin {
  margin-right: 5px;
  margin-top: 6px;
}

.group {
  display: flex;
  align-items: center;
  gap: 22px;
}
input {
  width: 386px;
  height: 63px;
  border-radius: 20px;
  border: none;
  background-color: #000000;
  padding: 21px;
  color: #ffffffb8;
  font-size: 24px;
}
.btn2 {
  width: 116px;
  height: 63px;
  border-radius: 20px;
  border: none;
  background-color: #0d0d5b;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
}
